<p id="notice"><%= notice %></p>
<p>
  <%= @cart.user.email %>
</p>

<% @cart.products.each do | product | %>
    <%= product.name  %>
<% end %>

<%= button_to 'Checkout', checkouts_url, :method => :get, :update => { :success => "cart", :failure => "error" } %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>