<p id="notice"><%= notice %></p>
<p>
  <%= @cart.user.email %>
</p>

<% @cart.products.each do | product | %>
    <%= product.name  %>
<% end %>

<%=  form_tag(:controller => :checkouts) do %>
    <%= hidden_field_tag :cart, @cart.id %>
    <%= submit_tag 'Checkout' %>
<% end %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>