<p id="notice"><%= notice %></p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Card details
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <%= form_for @credit_card, :url => credit_cards_url, :remote => true, :format => :json do |f| %>
          <div class="field" id="name_on_card">
            <%= f.label :name_on_card %>
            <%= f.text_field :name_on_card %>
          </div>
          <div class="field" id="number">
            <%= f.label :number, "Card Number" %>
            <%= f.text_field :number %>
          </div>
          <div class="field" id="expiry_date">
            <%= f.label :expiry_date, "Expiry date" %>
            <%= f.date_select :expiry_date, :start_year => Date.today.year, :end_year => Date.today.year+15, :discard_day => true %>
          </div>
          <div class="field" id="cvc">
            <%= f.label :cvc, "CVC" %>
            <%= f.text_field :cvc %>
          </div>
          <%= f.submit 'Add card' %>
      <% end %>
    </div>
  </div>
</div>
<script>

    $(document).ready(function () {
        $('#new_credit_card')
                .bind('ajax:success', function (data, cart, xhr) {
                    var errorElements = document.getElementsByClassName(error);
                    errorElements.forEach(function (element) {
                        element.className = "field"
                    });
                })
                .bind('ajax:error', function (xhr, value, status) {
                    var errors = JSON.parse(value.responseText);
                    for (var error in errors) {
                        var strippedError;
                        if ((/^card/).test(error)) {
                            strippedError = new String(error.substring(5));
                        }
                        var errorElement = document.getElementById(strippedError);
                        errorElement.className += " control-group error";
                        var messageElement = document.createElement("p");
                        var message = document.createTextNode(errors[error]);
                        messageElement.appendChild(message);
                        errorElement.appendChild(messageElement);
                    }
                    ;
                })
    });
</script>
