<p id="notice"><%= notice %></p>

<%= form_for @credit_card, :url => credit_cards_url, :remote => true, :id => 'credit_card_form' do |f| %>
    <div class="field">
      <%= f.label :name_on_card %>
      <%= f.text_field :name_on_card %>
    </div>
    <div class="field">
      <%= f.label :card_number %>
      <%= f.text_field :card_number %>
    </div>
    <div class="field">
      <%= f.label :expiry_date, "Expiry date" %>
      <%= f.date_select :expiry_date,  :start_year => Date.today.year, :end_year => Date.today.year+15, :discard_day => true %>
    </div>
    <div class="field">
      <%= f.label :cvc, "CVC" %>
      <%= f.text_field :cvc %>
    </div>
    <%= f.submit 'Add card' %>
<% end %>

<script>

    $(document).ready(function () {
        $('#credit_card_form')
                .bind('ajax:success', function (data, cart, xhr) {
                    alert("success");
                })
                .bind('ajax:failure', function (xhr, status, error) {
                    alert("Error adding to credit card");
                })
    });
</script>
