<p id="notice"><%= notice %></p>
<%= image_tag(@product.product_image_url) if @product.product_image? %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_product_path(@product) %>
<% else %>
    <%= form_tag carts_url(@product), :id => 'update_cart', :remote => true do %>
        <%= submit_tag 'Add to cart' %>
    <% end %>
<% end %>|
<%= link_to 'Back', products_path %>
<div id="'class"></div>
<script>
    $(document).ready(function () {
        $('#update_cart')
                .bind('ajax:success', function (data, cart, xhr) {
                    window.location = '<%= carts_url %>/' + cart.id;
                })
                .bind('ajax:failure', function (xhr, status, error) {
                    alert("Error adding to cart");
                })
    });
</script>