<p id="notice"><%= notice %></p>
<%= image_tag(@product.product_image_url) if @product.product_image? %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_product_path(@product) %>
<% else %>
    <%= button_to "Add to cart", carts_url(@product), :method => :post, :remote => true, :success => "cart", :failure => "error" %>
<% end%>|
<%= link_to 'Back', products_path %>
